.custon-font{
    font-family: 'roboto',sans-serif;
}
ion-toolbar{
    --background:transparent;
    ion-tittle{
        padding: 20px 0 46px 0;
        font-weight:900 ;
    }
    .back-circle{
        z-index: -1;
        width: 200px;
        height: 200px;
        background-color: rgb(44, 226, 135);
        position: absolute;
        margin-left:auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
    
}

p{
    padding: 40px 0 20px 0;
    font-weight:600 ;
}
ion-content{
--background: rgb(226, 247, 236);
--background:-webkit-linear-gradient(to right,#78ffd6,#a8ff78);
--background: linear-gradient(to right,#78ffd6,#a8ff78 );
}
.bak-blob{
    z-index: -1;
    width: 600px;
    position: absolute;
    left: 0;
    top: 0;
}
.wrap-input{
    background-color: rgba(255, 255, 255,.8);
    border-radius: 20px;
    margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgb(57, 71, 82,0.12);
}

.input{
    display: block;
    width: 100%;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px ;
    line-height: 1.2;
    border: 0;
    outline: 0;
    height: 46;
    padding: 0 20px 0 23px;
}
}