<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class=l1>
     <h1 class=h1>
Login

     </h1>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="ion-padding">
    
    <from class="ion-padding">
  
    
      <div class="Wrap-input">
        
      
        <ion-label>usuario</ion-label><p>
          <ion-button color="secondary">correo electronico</ion-button>
          </p>
 
    </div>
  
  
  <div class="Wrap-input">
   
    <ion-label>contraseña</ion-label><p>
    <ion-button color="secondary">contraseña</ion-button>
    </p>

</div>

</from>
  </div>

</ion-content>
